@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

:root {

    /* les variables de couleurs */

    --color-primary: #15133C;
    --color-accent: #EC994B;
    --color-bg: #F1EEE9;
    --color-bg-2: #D4D4E3;
    --color-bg-3: #15133c;
    --color-border: rgba(0, 0, 0, 0.10);
    --color-text: #15133C;
    --color-text-2: #1A2E1A;
    --color-text-3: #FFFFFF;
    --color-bg-2: #D4D4E3;

    /* Les variables d'espacements */

    --gap-1: 0.625rem;
    --gap-2: 2.375rem;
    --gap-3: 1.5rem;
    --gap-4: 0.75rem;
    --gap-5: 3.75rem;
    --gap-6: 1rem;
    --gap-7: 2.5rem;
}

/* J'ai mis le font dans toute la page */
* {
    font-family: "Montagu Slab";
}

nav {
    background-color: var(--color-primary);
    display: flex;
    height: 5rem;
    padding: 0.625rem 3.75rem;

    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .nav-logo-text {
        display: flex;
        height: 3.75rem;
        justify-content: center;
        align-items: center;
        gap: var(--gap-1);

        .logo {
            width: 3.5625rem;
            height: 2.25rem;
        }

        p {
            color: var(--color-accent);
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.375rem;
        }
    }

    .nav-text {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.375rem;
        list-style: none;

        color: var(--color-text-3);
        display: flex;
        padding: 0.125rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: var(--gap-2);
        flex: 1 0 0;
    }

    .button-nav-style {
        background-color: var(--color-accent);
        color: var(--color-text);
        display: flex;
        width: 12rem;
        padding: 0.875rem 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        border: none;
    }
}

.hero {

    background: linear-gradient(180deg, rgba(21, 19, 60, 0.00) 0%, rgba(21, 19, 60, 0.84) 85.2%), url(./assets/2ba6c51215c7ed6515b3b2e16411319a1808fa44.jpg) lightgray 0rem -7.12975rem / 100% 135.593% no-repeat;

    display: flex;
    height: auto;
    padding: 3.75rem;
    justify-content: center;
    align-items: flex-end;
    gap: var(--gap-1);
    align-self: stretch;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero-text {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-3);
        flex: 1 0 0;

        h1 {
            color: var(--color-text-3);
            text-align: center;
            font-family: "Montagu Slab";
            font-size: 4rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal
        }

        p {
            color: var(--color-text-3);
            text-align: center;
            font-family: "Montagu Slab";
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
        }
    }

    .buttons {

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: var(--gap-4);
        align-self: stretch;
        flex-wrap: wrap;

        .savoir-plus {
            color: var(--color-text-3);
            background-color: transparent;
            display: flex;
            width: 15rem;
            padding: 0.75rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0.0625rem solid var(--color-text-3);
            border-radius: 0.5rem;
        }

        .rejoignez-nous {
            color: var(--color-text);
            border-radius: 0.5rem;
            border: none;
            background: var(--color-accent);
            display: flex;
            width: 15rem;
            padding: 0.75rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


    }

    .logo-big {
        display: flex;
        height: 23.6841875rem;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        aspect-ratio: 19/12;
    }
}


.propos {
    display: flex;
    padding: 3.75rem 10.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-5);
    align-self: stretch;
}

.propos-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-3);
    align-self: stretch;
}

.propos-title h1 {
    width: 100%;
    color: var(--color-text);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

.propos-title p {
    width: 100%;
    color: var(--color-text);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.card-list {
    display: flex;
    padding: 1.25rem 0;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.cards {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;
    width: 100%;
}

.card {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 0.375rem;
    border: 0.0625rem solid var(--color-border);
    background-color: white;
}

.card-img {
    display: flex;
    width: 6.25rem;
    height: 6.25rem;
}

.image {
    flex: 1 0 0;
    align-self: stretch;
    background-color: var(--color-bg-2);
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex: 1 0 0;
}

.card-title {
    color: var(--color-text);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.card-p {
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.circle {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: var(--color-accent, #EC994B);
}

.user-p {
    font-size: 0.875rem;
}


.services {


    background-color: var(--color-bg-3);
    display: flex;
    padding: 3.75rem 10.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-5);
    align-self: stretch;


    .service-title {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-3);
        align-self: stretch;

        h1 {
            width: 100%;
            color: var(--color-accent);
            text-align: center;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 3rem;
        }

        button {

            display: flex;
            width: 15rem;
            padding: 0.75rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--color-accent);
            border: none;
            border-radius: 0.375rem;
        }

    }

    .service-list {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        align-self: stretch;

        .service-list-cards {
            display: flex;
            align-items: flex-start;
            gap: 2.5rem;
            align-self: stretch;
            list-style: none;


            li {

                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1 0 0;
                align-self: stretch;
                border-radius: 0.375rem;
                background-color: var(--color-bg);
                border: 0.0625rem solid var(--color-border);

                .service-card-img {


                    display: flex;
                    height: auto;
                    align-items: flex-start;
                    align-self: stretch;

                    div {
                        width: 100%;
                        height: 21.25rem;
                        display: flex;
                        padding: 0 1.01875rem 0 1rem;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex: 1 0 0;
                        align-self: stretch;
                        background-color: var(--color-bg-2);
                    }

                    p {
                        display: flex;
                        width: 100%;
                        height: 1rem;
                        flex-direction: column;
                        justify-content: center;
                        color: var(--color-text);
                        text-align: center;
                        font-size: 0.75rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1rem;
                    }
                }

                .service-card-text {
                    display: flex;
                    height: auto;
                    padding: 0.75rem;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.25rem;
                    align-self: stretch;

                    h1 {
                        align-self: stretch;
                        color: var(--color-text);
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.5rem;
                    }

                    p {

                        height: auto;
                        flex-shrink: 0;
                        align-self: stretch;
                        overflow: hidden;
                        color: #15133C;
                        text-overflow: ellipsis;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.75rem;


                    }
                }

            }

        }
    }





}

.list {

    display: flex;
    padding: 3.75rem 10.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    align-self: stretch;

    .list-title {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        align-self: stretch;

        h1 {
            color: var(----color-accent);
            text-align: center;
            font-family: "Montagu Slab";
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 3rem;
        }

        p {
            color: var(--color-text);
            text-align: center;
            font-family: "Montagu Slab";
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;

        }
    }


    ul {

        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0rem;
        align-self: stretch;
        list-style: none;




    }


    .item {
        width: 30%;
        display: flex;
        padding: 0.75rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex: 1 0 0;


        .icon {
            display: flex;
            width: 6.25rem;
            height: 6.25rem;
            justify-content: center;
            align-items: center;
            border-radius: 3.125rem;
            background: #D4D4E3;


            p {
                display: flex;
                width: 6.25rem;
                flex-direction: column;
                justify-content: center;
                flex-shrink: 0;
                align-self: stretch;
                aspect-ratio: 1/1;
                overflow: hidden;
                color: var(--color-text);
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 6.25rem;
            }
        }


    }

    .jour {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        align-self: stretch;

        p {
            align-self: stretch;
            color: var(--color-text);
            text-align: center;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.75rem;

        }

    }

    p {
        align-self: stretch;
        color: var(--color-text);
        text-align: center;

        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.25rem;
    }


}


.reviews {
    display: flex;
    padding: 3.75rem 10.625rem;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    align-self: stretch;
    background-color: var(--color-bg);
}

.review-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;

    h1 {
        align-self: stretch;
        color: var(--color-accent);
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3rem;
    }
}

.review-list {
    display: flex;
    padding: 1.25rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex: 1 0 0;
}

.review-row {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
}

.review-card {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 0.375rem;
    background: var(--color-bg-2);


}

.review-card-p {
    height: auto;
    align-self: stretch;
    overflow: hidden;
    color: var(--color-text);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.user-card {

    display: flex;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
}

.avatar-card {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
}

.avatar-logo {
    width: 2rem;
    height: 2rem;
}

.avatar-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.equipe {

    display: flex;
    padding: 3.75rem 10.625rem;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;

    img {
        width: 6.25rem;
        height: 6.25rem;
    }

    button {
        display: flex;
        width: 10rem;
        padding: 0.75rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        background: var(--color-bg-3);
        color: var(--color-text-3);
        border: none;
    }


}

.equipe-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    flex: 1 0 0;

    h1 {
        align-self: stretch;
        color: var(--color-text);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
    }

    p {
        align-self: stretch;
        color: var(--color-text);
        font-family: "Montagu Slab";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
}

.tarif {



    display: flex;
    padding: 3.75rem 10.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    align-self: stretch;
    background: var(--color-bg);
}

.tarif-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;

    h1 {
        color: var(--color-accent);
        text-align: center;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3rem;
    }

    p {
        color: var(--color-text);
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
}

.tarif-list {
    display: flex;
    padding: 1.25rem 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;
}

.tarif-card {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 0.375rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.10);
    background: var(--color-text-3);
}

.list-img {
    display: flex;
    width: 6.25rem;
    height: 6.25rem;
    align-items: stretch;
    background: var(--color-bg-2);
}

.tarif-list-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex: 1 0 0;

    h1 {
        align-self: stretch;
        color: var(--color-text);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem;
    }

    p {
        align-self: stretch;
        color: var(--color-text);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
}

.contacter {
    display: flex;
    padding: 3.75rem 10.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    align-self: stretch;

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        align-self: stretch;
        color: var(--color-accent);
    }

}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;
}

.form-inputs {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    align-self: center;
}

.form-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;

    label {
        align-self: stretch;
        color: var(--color-text);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
    }

    #name {
        width: 100%;
        display: flex;
        padding: 0.5rem 0.75rem;
        align-items: center;
        gap: 0.25rem;
        align-self: stretch;
        border-radius: 0.375rem;
        border: 0.0625rem solid rgba(0, 0, 0, 0.10);
        background: var(--color-text-3);
    }
}

.form-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;

    label {
        align-self: stretch;
        color: var(--color-text);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
    }

    #email {
        width: 100%;
        display: flex;
        padding: 0.5rem 0.75rem;
        align-items: center;
        gap: 0.25rem;
        align-self: stretch;
        border-radius: 0.375rem;
        border: 0.0625rem solid rgba(0, 0, 0, 0.10);
        background: var(--color-text-3);
    }
}

.form-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;

    label {
        align-self: stretch;
        color: var(--color-text);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem;
    }

    #message {
        width: 100%;
        display: flex;
        padding: 0.5rem 0.75rem;
        align-items: center;
        gap: 0.25rem;
        align-self: stretch;
        border-radius: 0.375rem;
        border: 0.0625rem solid rgba(0, 0, 0, 0.10);
        background: var(--color-text-3);
    }
}

.form-btn {
    display: flex;
    width: 19.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;

    button {
        border: none;
        display: flex;
        padding: 0.75rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 0.5rem;
        background: var(--color-bg-3);
        color: var(--color-text-3);
    }
}

footer {
    display: flex;
    padding: 3.75rem;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    align-self: stretch;
    background-color: #15133C;

    .footer-sec {
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 3.75rem;

        p {
            color: var(--color-text-3);
            text-align: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
        }
    }
}

.footer-card {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    border-radius: 0.4375rem;
    background: var(--color-bg);

    h1 {
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
        color: var(--color-text);
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.375rem;
    }

    button {
        display: flex;
        padding: 0.625rem 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        background: var(--color-accent);
        border: none;
    }
}